script(src='javascripts/jquery-2.1.3.js')
script(src='javascripts/bootstrap.js')
script(src='javascripts/angular.js')
script(src='javascripts/angular-animate.js')
script(src='javascripts/angular-route.js')
script(src='javascripts/angular-sanitize.js')

link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap-theme.css')
link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.css')

div(ng-app='cobraApp')
    div(ng-view)

//Modules
script(src='app/route.js')

//CSS
link(rel='stylesheet', type='text/css', href='main.css')

//Controllers
script(src='app/pages/home/homeCtrl.js')

